@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

$special-font: 'Francois One', sans-serif;

$dark: rgb(41, 41, 41);

$boxshadow-strength: 0.2;

body {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}
