.girland {
  &1 {
    position: absolute;
    width: 100%;
    height: 220px;
    transform: rotate(-5deg);
    opacity: 0.6;
    z-index: -1;
    width: 120vw;
    top: 0;
    left: -10px;
    background: url('../images/girland.png') no-repeat;
    background-size: contain;
  }
}
