ul.list-group {
  width: 100% !important;

  @include boxshadow($boxshadow-strength);
  & li.list-group-item {
    display: inline-block;
    justify-content: end;
    width: 100%;
    & a {
      float: right;
    }
    & p {
      padding: 0 0;
      margin: 0 0;
      float: left;
      text-shadow: 0 0 10px rgba(black, 0.1);
      color: $dark;
    }
  }
}
